body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
form{
    color: aqua;
    text-align: center;
}
div#formu{
    margin-top: 5;
    padding-top: 50;
    padding-bottom: 55;
    border-top: 2px solid rgb(19, 95, 116);
    border-bottom: 2px solid rgb(19, 95, 116);
    text-align: center;
}
input{
    width: 25%;
    height: 30px;
    border: 1px solid rgb(19, 95, 116);
    color: rgb(19, 95, 116);
    background-color: aquamarine;
}
div#botoes input{
    width: 20%;
    border: 2px solid rgb(19, 95, 116);
    color: rgb(19, 95, 116);
    background-color: aquamarine;
    height: 35px;
    text-decoration: none;
}
div#botoes a{
    width: 20%;
    border: 2px solid rgb(19, 95, 116);
    color: rgb(19, 95, 116);
    background-color: aquamarine;
    height: 35px;
    text-decoration: none;
}
h1{
    color: rgb(19, 95, 116);
}